/dist
/tmp

##########################
##  __   __   __|  ___  ##
## |  ) (__) (__| (__/_ ##
##########################
node_modules
npm_debug.log
npm-debug.log

############################################
##         o  __   __|  __            __  ##
## (__(__( | |  ) (__| (__) (__(__( __)   ##
############################################
Thumbs.db
*.ini

#######################
##  __ __   __   __  ##
## |  )  ) (__( (___ ##
#######################
.DS_Store
