- var title = 'Zero Player Kingdom'

doctype html
html(lang='en')
  head
    title #{title}
  body
    h1 Zero
    #zpk-message-box
    
    script(src='app.js')
    script(type='text/javascript') zpk_init();
